Checks: '
    clang-diagnostic-*,
    boost-*,
    Google-*,
    clang-analyzer-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
    cppcoreguidelines-*,
    llvm-*,
    cert-*,
    -clang-analyzer-core.CallAndMessage,
    -readability-redundant-member-init'
WarningsAsErrors: true
HeaderFilterRegex: ''
FormatStyle: none
CheckOptions:
  - key: readability-identifier-length.MinimumParameterNameLength
    value: 2
