name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    name: Try compilation on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - uses: actions/checkout@v1
    - name: Install clang-tidy
      run: |
        sudo apt-get update
        sudo apt-get install -y clang-tidy
      if: matrix.os == 'ubuntu-latest'
    - name: configure
      run: |
        mkdir build
        cd build
        cmake ..
    - name: build the library
      run: cmake --build build
    - name: build examples
      run:
        cmake --build build --target examples

  lf-tests-pull-request:
    uses: lf-lang/lingua-franca/.github/workflows/cpp-tests.yml@main
    with:
      runtime-ref: ${{github.ref}}
      compiler-ref: master
    if: ${{ github.event_name == 'pull_request' }}
      
  lf-tests-push:
    uses: lf-lang/lingua-franca/.github/workflows/cpp-tests.yml@main
    with:
      runtime-ref: ${{github.ref_name}}
      compiler-ref: master
    if: ${{ github.event_name == 'push' }}
