name: "Nix CI"
on:
  pull_request:
  push:
jobs:
  tests:
    runs-on: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v2.4.0
    - uses: cachix/install-nix-action@v16
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - name: Extract branch name
      shell: bash
      run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
      id: extract_branch
        #- uses: cachix/cachix-action@v10
        #with:
        #name: mycache
        # If you chose signing key for write access
        #signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
        # If you chose API tokens for write access OR if you have a private cache
        #authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - run: nix run .#packages.x86_64-linux.all-tests --override-input reactor-cpp github:lf-lang/reactor-cpp/${{ steps.extract_branch.outputs.branch }}


